In [1]:
import numpy as np
import pandas as pd

In [5]:
x=[10,20,30,40,50]
y=[20,40,60,80,100]
df=pd.DataFrame({'x':x,'y':y})
df

    x    y
0  10   20
1  20   40
2  30   60
3  40   80
4  50  100

In [19]:
#Covariance 
df_cov=df.cov()
print(df_cov)

       x       y
x  250.0   500.0
y  500.0  1000.0

In [21]:
#Correlation 
df_corr=df.corr()
print(df_corr)

     x    y
x  1.0  1.0
y  1.0  1.0

In [25]:
# Pearson Correlation Coefficient