In [55]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler

In [69]:
#x = np.array([[10],[20],[30],[40],[50]])
x=np.array([10,20,30,40,50])
df=pd.DataFrame(x)
df

    0
0  10
1  20
2  30
3  40
4  50

In [75]:
#Standardization
sc=StandardScaler()
df_stan=sc.fit_transform(df)
print("Original Data:\n", data)
print("\nNormalized Data (0 to 1 range):\n", normalized_data)

array([[-1.41421356],
       [-0.70710678],
       [ 0.        ],
       [ 0.70710678],
       [ 1.41421356]])

In [77]:
#Normalization 
mm=MinMaxScaler()
df_mm=mm.fit_transform(df)
df_mm

array([[0.  ],
       [0.25],
       [0.5 ],
       [0.75],
       [1.  ]])